body {
    background-color: #6d8ea0 !important;
    font-family: Tahoma, sans-serif;
}

nav{
    background-color: #6d8ea0;
}

nav>a {
    color: #f6f2ff;
    font-family: Tahoma, sans-serif;
    cursor: default;
}

div.bg-metal {
    background-color: #092327 !important;
    color: #F6F2FF !important;
}

.intro {

}

.code {
    font-family: monospace;
}

.job-card {
    background-color: #f6f2ff !important;
    color: #02394a;
    padding: 1.5em .5em .5em !important;
    border-radius: 1.2em !important;
    box-shadow: 0 5px 10px rgba(0,0,0,.2) !important;
}

.topic-card {
    background-color: #e59f71 !important;
    color: #02394a;
}

.topic-card>.card-title {
    color: #02394a;
    font-family: monospace;
}

.job-card>.card-title {
    color: #092327;
    font-family: monospace;
}

/*a.navbar-brand {
    cursor: default;
}*/

div.container {}


a.navbar-brand span {
    color: white;
}
